video#backgroundVideo{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100);
	width: auto; height: auto; z-index: -100;
}

body{
	margin: 0.5%;
}

div{
	position:absolute;
}

div img{
	position: absolute;
	height: 30%;
	width: 30%;
	top: 35%;
	left: 35%;
}

.center {
	z-index: 0;
	height: 30vh;
	width: 30vw;
	background-color: grey;
	border: solid 3px black;
	left: 35vw;
	top: 35vh;
}

.quadrant {
	z-index: -1;
	height: 50vh;
	width: 50vw;
	border: solid 3px black;
}

.tl {
	top:0%;
	left:0%;
	background-color: 2671BF;
}

.tr {
	top:0%;
	right:0%;
	background-color: 194B7F;
}

.bl {
	bottom:0%;
	left:0%;
	background-color: 3296FF;
}

.br {
	bottom:0%;
	right:0%;
	background-color: 0D2640;
}

.expandToFull {
	animation-name: expandToFull;
	animation-duration: 1s;	
	animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}

@keyframes expandToFull{
	to{
		width: 100vw;
		height: 100vh;
		top: 0%;
		left: 0%;
	}
}

.retractToQuarter {
	animation-name: retractToQuarter;
	animation-duration: 1s;	
	animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}

@keyframes retractToQuarter{
	to{
		width: 50vw;
		height: 50vh;
	}
}

.retractToCenter {
	animation-name: retractToCenter;
	animation-duration: 1s;	
	animation-timing-function: ease-in-out;		
	visibility: visible !important;
}

@keyframes retractToCenter{
	to{
		width: 30vw;
		height: 30vh;
		left: 35vw;
		top: 35vh;
	}
}